<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cup of Sugar - {{title}}</title>
</head>
<body>
    <header>
    </header>

    <main>
        <!-- Content goes here -->
        {{{body}}}
    </main>
    
    <footer>
    </footer>
</body>
</html>