<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/css/dm.css">
</head>
<body>
    {{{body}}}
=======
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
    </header>

    <main>
        <!-- Content goes here -->
        {{{body}}}
    </main>
    
    <footer>
    </footer>
>>>>>>> 9a446a2b70b456d17472dc9c74696a1e8ca834dc
</body>
</html>