<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | Cup Of Sugar</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <header>
    </header>

    <main>
        <!-- Content goes here -->
        {{{body}}}
    </main>
    
    <footer>
    </footer>
</body>
</html>