<div class="hub-container">
  <h1 class="hub-title">Cup of Sugar</h1>
  <p class="hub-subtitle">A friendly neighborhood community board</p>

  <ul class="hub-links">
    <li><a href="/posts">Posts</a></li>
    <li><a href="/dmthreads/user/TestUser1">Direct Messaging</a></li>
    <li><a href="/profile">User Profile</a></li>
    <li><a href="/about">About (Coming Soon)</a></li>
  </ul>
</div>