:root {
   /* ~~~~~~ */
   /* TOKENS */
   /* ~~~~~~ */
   /* COLOR */
   --color-base-light: hsl(300, 20%, 98%);
   --color-base-dark: hsl(300, 5%, 10%);
   
   --color-secondary-light: hsl(300, 100%, 99%);
   --color-secondary-dark: hsl(250, 20%, 18%);

   --color-tertiary-light: hsl(255, 37%, 89%);
   --color-tertiary-dark: hsl(257, 18%, 23%);

   --color-accent-light: hsl(247, 100%, 88%); 
   --color-accent-dark: hsl(247, 50%, 51%);

   --color-warning-light: hsl(0, 65%, 40%);
   --color-warning-dark: hsl(0, 83%, 84%);

   --color-bg-warning-light: hsl(0, 81%, 88%);
   --color-bg-warning-dark: hsl(0, 88%, 25%);

   --color-success-light: hsl(147, 93%, 24%);
   --color-success-dark: hsl(162, 88%, 87%);

   --color-bg-success-light: hsl(163, 86%, 86%);
   --color-bg-success-dark: hsl(147, 94%, 21%);

   --color-translucent-1-light: hsla(300, 100%, 50%, 0.4);
   --color-translucent-1-dark: hsla(300, 100%, 60%, 0.4);

   --color-translucent-2-light: hsla(197, 100%, 60%, 0.4);
   --color-translucent-2-dark: hsla(197, 100%, 70%, 0.4);

   --color-translucent-3-light: hsla(60, 100%, 50%, 0.8);
   --color-translucent-3-dark: hsla(60, 100%, 60%, 0.8);

   --color-clear: hsl(0, 0%, 0%, 0);

   /* FONT WEIGHT */
   --font-weight-base: 400;
   --font-weight-light: 100;
   --font-weight-bold: 500;
   --font-weight-bolder: 600;

   /* LINE HEIGHT */
   --line-height-base: 1.5;
   --line-height-tight: 1.1;
   --line-height-loose: 1.25;
   --line-height-looser: 1.3;
   --line-height-loosest: 1.4;

   /* FONT SIZE */
   --size-step--1: clamp(0.85rem, calc(1vw * 1), 0.9rem);
   --size-step-0: clamp(0.9rem, calc(1vw * 2), 1rem);
   --size-step-1: clamp(1.15rem, calc(1vw * 3), 1.33rem);
   --size-step-2: clamp(1.5rem, calc(1vw * 5), 2rem);
   --size-step-3: clamp(2.33rem, calc(1vw * 8), 3rem);
   --size-step-4: clamp(3rem, calc(1vw * 7), 3.5rem);

   /* BORDER RADIUS */
   --border-radius-small: 10px;
   --border-radius-large: 20px;

   /* ~~~~~~~~~~~~~~~~~~~~~~ */
   /* SEMANTIC REASSIGNMENTS */
   /* ~~~~~~~~~~~~~~~~~~~~~~ */
   --bg-color: var(--color-base-light);
   --fg-color: var(--color-base-dark);

   --bg-secondary-color: var(--color-secondary-light);
   --fg-secondary-color: var(--color-secondary-dark);

   --bg-tertiary-color: var(--color-tertiary-light);
   --fg-tertiary-color: var(--color-tertiary-dark);

   --accent-color: var(--color-accent-light);

   --warning-color: var(--color-warning-light);
   --bg-warning-color: var(--color-bg-warning-light);

   --success-color: var(--color-success-light);
   --bg-success-color: var(--color-bg-success-light);

   --translucent-color-1: var(--color-translucent-1-light);
   --translucent-color-2: var(--color-translucent-2-light);
   --translucent-color-3: var(--color-translucent-3-light);

   /* ~~~~~~~~ */
   /* COMPOUND */
   /* ~~~~~~~~ */
   /* BORDER */
   --border-primary: 1px solid var(--fg-tertiary-color);
}

@media (prefers-color-scheme: dark) {

   /* DARK MODE JUST INVERTS VALUES */
   :root:not([data-theme]) {
      --bg-color: var(--color-base-dark);
      --fg-color: var(--color-base-light);

      --bg-secondary-color: var(--color-secondary-dark);
      --fg-secondary-color: var(--color-secondary-light);

      --bg-tertiary-color: var(--color-tertiary-dark);
      --fg-tertiary-color: var(--color-tertiary-light);

      --accent-color: var(--color-accent-dark);

      --warning-color: var(--color-warning-dark);
      --bg-warning-color: var(--color-bg-warning-dark);

      --success-color: var(--color-success-light);
      --bg-success-color: var(--color-bg-success-light);

      --translucent-color-1: var(--color-translucent-1-dark);
      --translucent-color-2: var(--color-translucent-2-dark);
      --translucent-color-3: var(--color-translucent-3-dark);
   }
}

.dark {
   --bg-color: var(--color-base-dark);
   --fg-color: var(--color-base-light);

   --bg-secondary-color: var(--color-secondary-dark);
   --fg-secondary-color: var(--color-secondary-light);

   --bg-tertiary-color: var(--color-tertiary-dark);
   --fg-tertiary-color: var(--color-tertiary-light);

   --accent-color: var(--color-accent-dark);

   --warning-color: var(--color-warning-dark);
   --bg-warning-color: var(--color-bg-warning-dark);

   --success-color: var(--color-success-light);
   --bg-success-color: var(--color-bg-success-light);

   --translucent-color-1: var(--color-translucent-1-dark);
   --translucent-color-2: var(--color-translucent-2-dark);
   --translucent-color-3: var(--color-translucent-3-dark);
}





body { /* FIXME: change back to `body` - just temp for others */ 
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color: var(--bg-color);
   color: var(--fg-color);
}

a {
   color: #786bff;
}

label {
   font-weight: 600;
   font-size: var(--size-step-0);
}

form {
   position: relative;
}

form abbr[title="required"] {
   color: var(--warning-color);
   text-decoration: none;
}

input {
   box-sizing: border-box;
   width: 100%;
   line-height: var(--size-step-2);
   padding: 0.25rem 1rem;
   border: var(--border-primary);
   border-radius: var(--border-radius-small);
   background-color: var(--bg-color);
   color: var(--fg-color);
}

input[type="checkbox"] {
   width: fit-content;
}

input:disabled {
   background-color: var(--bg-tertiary-color);
}

textarea {
   width: 100%;
   max-width: 100%;
   min-height: 8rem;
   max-height: 20rem;
   padding: 0.5rem 1rem;
   color: var(--fg-color);
   background-color: var(--bg-color);
   border-radius: var(--border-radius-small);
   border: var(--border-primary);
}

textarea::placeholder, 
input::placeholder {
   color: var(--fg-tertiary-color);
}

button {
   cursor: pointer;
}

[aria-invalid="true"] {
   outline: 3px solid var(--warning-color);
}

progress {
   width: 100%;
   margin: 1rem 0rem;
}


/* UTILITY */
.relative {
   position: relative;
}

.visually-hidden {
   visibility: hidden;
}

.switcher {
   display: flex;
   flex-wrap: wrap;
   gap: 0.8rem;
}

.colorful-blur-ring {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-radius: var(--border-radius-large);
   filter: contrast(120%) blur(20px);
   animation: 30s animate-blur infinite linear;
   box-shadow: 
      12px 3px 15px 12px var(--translucent-color-1),
      -12px -3px 15px 12px var(--translucent-color-2),
      12px -3px 15px 12px var(--translucent-color-3);
}

.no-animate {
   animation: none;
}

.mt-2 {
   margin-top: 2rem;
}
