/* FORM */
.form-container {
   display: flex;
   max-width: 20rem;
   flex-direction: column;
}

.form-container > * {
   margin-bottom: 1rem;
}

/* INPUT MESSAGE */
.input-message {
   display: block;
   min-height: 1.2rem;
   margin: 0.5rem 0;
   color: black;
}

.input-error {
   color: red;
}

/* IMAGE */
#avatarContainer {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 200px;
   max-height: 200px;
   border: var(--border-primary);
   border-radius: var(--border-radius-large);
   overflow: hidden;
}

.image-square {
   position: relative;
   display: block;
   width: 100%;
   height: 100%;
   /* padding-top: 100%; */
   aspect-ratio: 1;
   /* overflow: hidden; */
}

.image-square img {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   top: 0;
   /* width: 100%; */
   height: 100%;
   object-fit: cover;
   
   /* max-width: 100%; */
}

.image-square img[src]:not([src=""]) {
   -webkit-user-select: none;
   user-select: none;
   /* touch-action: none; */
   cursor: grab;
}

/* LOADER */
.spinner {
   position: absolute;
}

.spinner::after {
   content: "✾";
   transform-origin: 50% 41.5%;
   font-size: 4rem;
   display: block;
   color: black;
   animation: animate-spinner infinite 3s linear;
}

/* ERRORS */
.error-container {
   position: relative;
   max-width: 40rem;
   margin: 10rem auto;
}

.error-contents {
   position: relative;
   max-width: inherit;
   min-height: 20rem;
   padding: 2rem 0.8rem;
   margin: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: var(--bg-secondary-color);
   border: var(--border-primary);
   border-radius: var(--border-radius-large);
}

.error-contents > * {
   text-align: center;
}

.error-contents :last-child {
   margin-top: auto;
}

.error-contents h1 {
   font-size: var(--size-step-3);
   font-weight: var(--font-weight-bolder);
   line-height: var(--line-height-tight);
}

.error-contents h2 {
   font-size: var(--size-step-2);
   font-weight: var(--font-weight-bolder);
   line-height: var(--line-height-loose);
}

.error-contents > .error-code {
   position: absolute;
   left: -20px;
   top: -20px;
   padding: 0.5rem 0.8rem;
   margin: 0;
   background-color: inherit;
   border: var(--border-primary);
   border-radius: var(--border-radius-large);
   font-size: 2em;
   font-weight: 100;
}

.error-contents > .error-message-extended {
   margin-bottom: 3rem;
   word-break: break-word;
}

/* LINKS */
.link-medium {
   display: inline-block;
   padding: 0.2rem 0.5rem;
   font-size: 1.3rem;
   color: var(--fg-color);
   text-decoration: solid var(--color-clear) 2px underline;
   text-underline-offset: 5px;
   transition: 0.1s text-decoration ease-in-out;
}

.link-medium::after {
   content: "↺";
   display: inline-block;
   margin-left: 0.5rem;
   transition: 0.1s transform ease-in-out;
}

.link-medium:hover {
   text-decoration: solid var(--fg-color) 2px underline;
}

.link-medium:hover::after {
   transform: rotate(-20deg);
}
