@keyframes animate-blur {
   0% {
      filter: hue-rotate(0deg) contrast(120%) blur(20px);
   }
   50% {
      filter: hue-rotate(360deg) contrast(250%) blur(40px);
   }
   100% {
      filter: hue-rotate(720deg) contrast(120%) blur(20px);
   }
}

@keyframes animate-spinner {
   0% {
      rotate: 0deg;
   }
   100% {
      rotate: 360deg;
   }
}