.nav-right {
    display: flex;
    align-items: center;
    height: 100%;
    white-space: nowrap;      /* keeps links on one line */
}

.nav-right > a {
    align-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 60px;
    background: var(--bg-secondary-color);
    border-bottom: var(--border-primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    overflow: visible;        /* ← prevents clipping */
}

.nav-left .nav-logo {
    font-size: 20px;
    font-weight: 600;
    color: var(--fg-tertiary-color);
    text-decoration: none;
}

.nav-right a {
    height: 100%;
    /* margin-left: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--fg-tertiary-color);
    text-decoration: none;
    font-size: 15px;
    
}

.nav-right a:hover {
    color: var(--fg-color);
}

.nav-right span {
    margin: auto;
    min-width: 4rem;
    text-align: center;
    height: 100%;
    align-content: center;
    padding: 0 1rem;
    transition: background-color .1s ease;
}

.nav-cta {
    font-weight: 700;
    background-color: var(--accent-color);
    color: var(--fg-tertiary-color);
}

.logout-btn span {
    color: var(--warning-color);
}

.logout-btn span:hover {
    background-color: var(--bg-warning-color);
}
