<div class="dm-page">
  <div class="dm-container">

    <h2>Your Direct Message Threads</h2>

    <a href="/dmthreads/create" class="button">Start a New Thread</a>

    {{#if threads.length}}
      <ul class="thread-list">
        {{#each threads}}
          <li class="thread-item">
            <a href="/dmthreads/{{this._id}}">
              Conversation with: {{this.participants}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>No threads found.</p>
    {{/if}}

  </div>
</div>